<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.0/vue.js"></script>
    <script type="text/javascript">
      var global_data = {{ data }};
    </script>
    <!-- <script type="text/javascript" src="TBNeoBundle.js"></script> -->
  </head>

  <body>

    <div id="sections" class="container-fluid">

      <!-- Image. -->
      <div class="card">
	<div class="card-block">
	</div>
      </div>

      <div class="card">
	<div class="card-header">
	  
	</div>
	<div class="card-block">
	  <h4 class="card-title"></h4>
	  <p>
	  </p>
	</div>
      </div>
      
      <div class="card">
	<div class="card-header">
	  Why this is important
	</div>
	<div class="card-block">
	  <h4 class="card-title"></h4>
	  <p>
	  </p>
	</div>
      </div>
      
      <div class="card">
	<div class="card-header">
	  Who we are
	</div>
	<div class="card-block">
	  <h4 class="card-title"></h4>
	  <p>
	    We are not lawyers, this is not legal advice: all
	    institutions and groups have their own perspectives and
	    counsel. We are a group of scientists, engineers, and
	    specialists that are concerned about the use and reuse of
	    increasingly interconnected, derived, and reprocessed
	    data.
	  </p>
	    
	  <p>
	    What we want isto provide a resource looking at some of
	    the possible issues are the reuse of scientific data.
	  </p>

	  <p>
	    We want to actively engage the community in conversation
	    and make sure that our information about scientific data
	    is up-to-date and correct. If you have any questions or
	    see any problems, please open a ticket on our tracker.
	    <br />
	    If you see an issue, please open a ticket on our github tracker here:
	    http://github.com/reusabledata/reusabledata
	  </p>
  	</div>
      </div>
      
      <div class="card">
	<div class="card-header">
	  What this is	  
	</div>
	<div class="card-block">
	  <h4 class="card-title"></h4>
	  <p>
	    The initial driving concern of this project is the use and
	    reuse of biological and biomedical data However, this is a
	    general problem in the scientific community and needs to
	    be addressed directly.
	    
	    For each resource, we assign one of 
	    we attempt to assign these values objectively by meeting our criteria for
	    reusable data
	    green + gold star - the license unambiguously allows the /free/
	    reuse and redistribution of the data
	    green - the license unambiguously allows reuse and redistribution
	    of the data under some terms
	    yellow - the license is ambiguous or has terms that prevents the reuse and
	    redistribution of in some cases
	    red - the license could not be found (so assumed to be
	    under standard copyright) or the license unambiguously makes clear that
	    reuse and redistribution is not welcome for the general community 

	    If you see any problems with our determinations or would
	    like to make corrections or clarifications, please open a
	    ticket for us on our issue tracker.
	  </p>
	</div>
      </div>
            
      <!-- Done fluid container. -->
    </div>
	    

    

    
    Criteria:
    * Clearly stated
      Have a clearly stated license for data use.  If
      there is no license, then rights are unclear and one needs to
      assume the default: all rights reserved
      (e.g. https://www.copyright.gov/help/faq/faq-general.html).
    * Allow use and reuse
      Data that cannot be used in not data at all. In modern
      data-driven science, the ability to synthesize data and make the
      results available for others to do the same is paramount.
    * Non-discriminatory
      Ideally, data should be able to be used and reused by anybody for
      any purpose, academic, commercial, and anything else.
      A counterexample may be 
    * Non-revocable
      Of course somebody might choose to close there data off in the future,
      but there should be no language that revokes usage rights retroactively
      for the data before that horizon.
    * Freely and openly available
      (GOLD) The data should should be to all people for any
      purpose. An example of this would be data explicitly released
      under the Creative Commons 4.0 Attribution 4.0 International
      license https://creativecommons.org/licenses/by/4.0/
      
    Inspired by the efforts of scientists around the world and the
    game changing efforts of projects like the Creative Commons,
    Wikimedia Foundation, and the Free Software movement (e.g. Debian
    and the FSF),
    
    We hope to engage the larger community in an open and fruitful
    discussion on issues concerning the use and reuse of scientific
    data, including the balance of openness and how to make ends meet
    in an increasingly competitive environment.

    If you would like to join our efforts to highlight the use and
    reuse of data in the sciences, please feel free to contact us on
    our tracker TODO or create a pull request against our repository
    at TODO.

    thoughts to organize.

also, matrix:
    https://joinup.ec.europa.eu/software/page/eupl/eupl-compatible-open-source-licences
    https://www.debian.org/social_contract.html#guidelines
    also, bring up dfsg vs. gnu
    https://people.debian.org/~bap/dfsg-faq.html , point 8, 12, etc.
    
    The freedom to run the program, for any purpose (freedom 0).
    The freedom to study how the program works, and adapt it to your needs (freedom 1).
    The freedom to redistribute copies so you can help your neighbor (freedom 2).
    The freedom to improve the program, and release your improvements to the public, so that the whole community benefits (freedom 3).
    

    </div>
    
    <div id="vapp2" class="container-fluid">

      <div class="card">
	<div class="card-header">
	  The Board
	</div>
	<div class="card-block">
	  <h4 class="card-title">Current tallies</h4>

	  <p>
	    The Old Board can be seen <a href="https://docs.google.com/spreadsheets/d/1CkVmLX5-HMoEjGTHc37jgqi5AprN2IRscQtx-Y8LLlY/edit?usp=sharing">here</a>.
	  </p>
	  
	  <p>
	    Current outstanding:
	    <em><strong>
	      {{=<% %>=}}
	      {{ outstanding }}
	      <%={{ }}=%>
	    </strong></em>
	  </p>
	  
	  <div class="card-text">

	    <table class="table table-striped">
	      <thead>
		<tr>
		  <th>Name</th>
		  <th>Amount</th>
		</tr>
	      </thead>
	      <tbody>
		<tr v-for="person in people">
		  {{=<% %>=}}
		  <td>{{ person.name }}</td>
		  <td>{{ person.current }}</td>
		  <%={{ }}=%>
		</tr>
	      </tbody>
	    </table>

	  </div>
	  
	</div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
  
</html>
